body {
    background-color:#333;
}

.Collapse_1 {
    margin:0 auto;
    margin-top: 2em;
    margin-bottom: 2em;
}

.img1 {
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 1em;
    max-width: 1200px;
    max-height: 500px;
}

.credit1{
    color: white;
    font-size: smaller;
}

.credit2{
    font-size: smaller;
}

.card1{

    margin:0 auto;

}


.textspace{
    margin-top: 1em;
}