.nvbar{
    background:linear-gradient(#505050, #000000);
}

.text1{
    color: white !important;
    font-family: Garamond;
}

.main{
    font-size: large;
    font-weight: bold;
}

.map{
    font-size: large;
    font-weight: bold;
    margin-left: 4em;
}

.advice{
    font-size: large;
    font-weight: bold;
    margin-left: 4em;
}

.news{
    font-size: large;
    font-weight: bold;
    margin-left: 4em;
}